// main: ../../import.scss
.is-for_beginner{
  overflow: hidden;
  &-wrap{
    margin-bottom: vwpc(120);
    @media #{$sp}{
      margin-bottom: vwsp(50);
    }
  }
  &-inner{
    width: vwpc(780);
    margin: 0 auto;
    @media #{$sp_tb}{
      width: 87%;
    }
  }
  &-box{
    padding: 40px;
    background: $color_4;
    border: 1px solid #E3E5E5;
    @include bdrs(24px);
    margin-bottom: 50px;
    @media #{$sp}{
      margin-bottom: 30px;
      padding: 7%;
      @include bdrs(18px);
    }
    .ttl{
      @include ftz(18px, 24px, 480px, 1280px, 24px);
      font-weight: 700;
      border-bottom: 1px solid #CCDBDB;
      margin-bottom: 22px;
      padding-bottom: 10px;
    }
  }
  &-step{
    &_lists{
      margin-bottom: 30px;
      &__item{
        margin-bottom: 22px;
        &:last-child{
          margin-bottom: 0;
        }
        .count,.txt{
          display: block;
        }
        .count{
          width: 74px;
          height: 74px;
          background: #fff;
          @include bdrs(50%);
          text-align: center;
          @include ftz(14px, 22px, 480px, 1280px, 22px);
          color: $color_1;
          font-style: normal;
          line-height: 1;
          @media #{$sp}{
            width: 42px;
            height: 42px;
          }
          span{
            @include ftz(10px, 13px, 480px, 1280px, 13px);
            line-height: 1;
            color: $color_1;
            display: block;
            margin-bottom: 3px;
            padding-top: 18px;
            @media #{$sp}{
              margin-bottom: 0;
              padding-top: 11px;
            }
          }
        }
        .txt{
          width: calc(100% - 94px);
          @media #{$sp}{
            width: calc(100% - 52px);
          }
          span{
            display: block;
          }
          &-ttl{
            @include ftz(18px, 20px, 480px, 1280px, 20px);
            font-weight: 700;
            line-height: 1.4;
          }
          &-para{
            @include ftz(16px, 17px, 480px, 1280px, 17px);
            line-height: 1.529;
          }
        }
      }
    }
  }
  &-attention{
    &-box{
      @include ftz(14px, 15px, 480px, 1280px, 15px);
      line-height: 1.6;
      margin-bottom: 17px;
      &:last-child{
        margin-bottom: 0;
      }
      strong{
        @include ftz(14px, 15px, 480px, 1280px, 15px);
        font-weight: 700;
        display: block;
        line-height: 1.4;
        margin-bottom: 5px;
        @media #{$sp}{
          margin-bottom: 0;
        }
      }
    }
  }
}
