// main: ../../../import.scss
// --------------------------------------------------
// PC/SP switch
// --------------------------------------------------
.box-dead_link{
  position: relative;
  &::before{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    z-index: 10;
  }
  &::after{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    content: 'COMING SOON';
    font-style: italic;
    font-weight: 400;
    @include translate
    z-index: 11;
    @include ftz20
  }
  a{
    pointer-events: none;
  }
}
.line-dead_link{
  a{
    pointer-events: none;
    text-decoration: overline;
  }
}
