// main: ../../../import.scss
.aside{
  width: vwpc(300);
  margin-bottom: vwpc(80);
  z-index: 100;
  @media #{$tbvertical}{
    width: 90%;
    margin: 0 auto 30px;
  }
  @media #{$sp}{
    width: 86%;
    margin: 0 auto vwsp(30);
  }
  &-box{
    width: 100%;
    background: $color_4;
    padding: 50px;
    @include bdrs(0 24px 24px 0);
    @media #{$tbside}{
      padding: 30px 20px;
    }
    @media #{$tbvertical}{
      @include bdrs(24px);
      padding: 7%;
    }
    @media #{$sp}{
      @include bdrs(24px);
      padding: 7%;
    }
  }
  &-nav{
    @media #{$tbvertical}{
      @include flex;
      @include flex-stretch;
      @include flex-start;
    }
    @media #{$sp}{
      @include flex;
      overflow: scroll;
      white-space: nowrap;
    }
    &-box{
      margin-bottom: 26px;
      @media #{$tbvertical}{
        margin-bottom: 0;
      }
      @media #{$sp}{
        margin: 0 40px 0 0;
      }
      &:last-child{
        margin-bottom: 0;
        @media #{$sp}{
          margin: 0;
        }
      }
      .ttl{
        @include ftz(15px, 13px, 480px, 1280px, 13px);
        font-weight: 600;
        margin-bottom: 2px;
        @media #{$sp}{
          margin-bottom: 4px;
        }
      }
    }
    &_lists{
      margin-left: .8em;
      &__item{
        margin-bottom: 3px;
        @media #{$sp}{
          margin-bottom: 1px;
        }
        &:last-child{
          margin-bottom: 0;
        }
        a{
          @include ftz(14px, 15px, 480px, 1280px, 15px);
          display: flex;
          position: relative;
          padding-left: 14px;
          &::before{
            width: 8px;
            height: 1px;
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            background: #5d5d5d;
          }
        }
      }
    }
  }
  &-link{
    padding: 24px 50px;
    margin-top: 20px;
    position: relative;
    @media #{$tbside}{
      padding: 24px 20px;
    }
    @media #{$sp}{
      padding: 24px 30px;
    }
    .btn{
      span{
        display: block;
        line-height: 1;
      }
      .jp{
        @include ftz(18px, 20px, 480px, 1280px, 20px);
        @media #{$tbside}{
          @include ftz12;
        }
      }
      .en{
        @include ftz(14px, 15px, 480px, 1280px, 15px);
        font-weight: 600;
        font-style: italic;
        color: #7e7e7e;
        margin-top: 12px;
      }
      .icon{
        width: 38px;
        height: 38px;
        background: #fff;
        @include bdrs(50%);
        display: block;
        position: absolute;
        top: calc(50% - 19px);
        right: 20px;
        &::after{
          width: 15px;
          height: 12px;
          position: absolute;
          position: absolute;
          content: '';
          top: calc(50% - 6px);
          left: calc(50% - 7px);
          text-align: center;
          background: url('/images/common/ic-ar-r.svg') center / cover no-repeat;
          @media #{$tb}{}
          @media #{$sp}{}
        }
      }
    }
  }
  &-cart{
    height: 100%;
    margin-bottom: 0;
    position: sticky;
    top: 50px;
    &_box{
      border: 1px solid #E4E4E4;
      @include bdrs(8px);
      background: #fff;
      padding: 30px;
      z-index: 10;
      @media #{$sp}{
        padding: 7%;
      }
      .ttl-product{
        @include ftz(18px, 20px, 480px, 1280px, 20px);
        line-height: 1.4;
      }
      .ttl-main{
        @include ftz(16px, 17px, 480px, 1280px, 17px);
        font-weight: 600;
        border-bottom: 1px solid $color_6;
        padding-bottom: 6px;
      }
      .price{
        @include ftz(20px, 24px, 480px, 1280px, 24px);
        font-weight: 500;
        color: $color_3;
        letter-spacing: 0;
        small{
          @include ftz(11px, 11px, 480px, 1280px, 11px);
          color: $color_3;
          display: inline-block;
          vertical-align: middle;
          margin-left: 3px;
        }
      }
      .cart-form{
        .form-group{
          margin-bottom: 16px;
          label{
            @include ftz(13px, 13px, 480px, 1280px, 13px);
            display: block;
            margin-bottom: 3px;
          }
          .select-wrapper{
            position: relative;
            .form-control{
              width: 100%;
              padding: 16px 20px;
              @include ftz(14px, 15px, 480px, 1280px, 15px);
              @include bdrs(6px);
              appearance: none;
              border: 1px solid #E6E6E6;
              background: #fbfbfc;
              outline: none;
            }
            &::before{
              width: 10px;
              height: 6px;
              content: '';
              background: url('/images/common/ic-ar-b.svg') center / cover no-repeat;
              position: absolute;
              top: calc(50% - 3px);
              right: 20px;
            }
          }
        }
        .btn-cart{
          width: 100%;
          height: 50px;
          @include bdrs(25px);
          background: $color_1;
          @include ftz(14px, 15px, 480px, 1280px, 15px);
          font-weight: 700;
          margin-top: 4px;
          appearance: none;
          border: 0;
          color: #fff;
          @include transition(.5s);
          &:hover{
            cursor: pointer;
            @include opacity(.7);
          }
        }
      }
    }
    .cart-form{
      .btn-cart{
        margin-top: 20px;
        @media #{$sp}{
          margin-top: 10px;
        }
      }
    }
    &-item{
      .aside-cart_box{
        .cart-nav{
          margin: 18px 0 0 .8em;
          li{
            a{
              @include ftz(14px, 15px, 480px, 1280px, 15px);
              display: flex;
              color: #5d5d5d;
              position: relative;
              padding-left: 17px;
              &::before{
                width: 8px;
                height: 1px;
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                background: #5d5d5d;
              }
            }
          }
        }
      }
    }
    &-peyment,&-confirm{
      .howto_payment{
        margin-top: 20px;
        .payment-options{
          margin-top: 8px;
          &_item{
            display: block;
            input[type=radio]{
              margin-top: 0;
            }
            .img{
              margin-bottom: 4px;
              img{
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  &-bnr{
    &_lists{
      &__item{
        margin-top: 20px;
      }
    }
  }
}
