// main: ../../../import.scss
// --------------------------------------------------
// ARTICLE
// --------------------------------------------------
.sticky_nav{
  width: 100%;
  height: auto;
  position: fixed;
  padding: 18px 20px;
  background: #fff;
  top: -100vw;
  z-index: 105;
  @include transition;
  .logo{
    width: 200px;
  }
  // .is-main_navi{
  //   &_lists{
  //     text-align: right;
  //     position: absolute;
  //     top: 50%;
  //     @include translate
  //     right: -13%;
  //     &__item{
  //       display: inline-block;
  //       margin: 0 0 0 1.6em;
  //       position: relative;
  //       &::before{
  //         width: 100%;
  //         height: 3px;
  //         content: '';
  //         position: absolute;
  //         bottom: -10px;
  //         left: 0;
  //         @include transition
  //       }
  //       a{
  //         color: $color;
  //       }
  //       &:hover{
  //         margin-right: 0;
  //         &::before{
  //           background: $color_2;
  //           @media #{$sp}{
  //             content: none;
  //           }
  //         }
  //         a{
  //           color: $color;
  //         }
  //       }
  //       dl{
  //         dt{
  //           line-height: 1;
  //           font-weight: 600;
  //         }
  //         dd{
  //           width: 200%;
  //           position: absolute;
  //           top: 30px;
  //           left: 0;
  //           background: #fff;
  //           padding: 20px;
  //           a{
  //             text-align: left;
  //             display: block;
  //           }
  //         }
  //       }
  //     }
  //     .current{
  //       &::before{
  //         width: 100%;
  //         height: 3px;
  //         content: '';
  //         background: $color_2;
  //         position: absolute;
  //         bottom: -10px;
  //         left: 0;
  //         @media #{$sp}{
  //           content: none;
  //         }
  //       }
  //     }
  //   }
  // }
}
.scroll{
  .header-common{
    top: 60px;
    @media #{$sp}{
      top: 20px;
    }
  }
}
.hide{
  .header-common{
    top: -100vw;
  }
}
