// main: ../../../import.scss
// --------------------------------------------------
// TABS
// --------------------------------------------------
.tabs{
  font-size: 0;
  &_items{
    @media #{$tb}{
      overflow: scroll;
    }
    @media #{$sp}{
      overflow: scroll;
    }
    &_wrap{
      @media #{$tbvertical}{
        width: 800px;
      }
      @media #{$sp}{
        width: 800px;
      }
    }
  }
  &_item{
    // width: 200px;
    // height: 60px;
    // line-height: 60px;
    background: #fff;
    @include ftz(15px, 15px, 480px, 1280px, 15px);
    border: 1px solid #EAE4E3;
    padding: 14px 42px;
    color: rgba(0,0,0,.4);
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    @include transition;
    margin-right: 10px;
    @media #{$tb}{
      white-space: nowrap;
      padding: 14px 22px;
    }
    @media #{$sp}{
      white-space: nowrap;
      padding: 14px 22px;
      margin-right: 5px;
    }
    &:hover{
      cursor: pointer;
      @media #{$pc}{
        @include opacity(.7);
      }
    }
    &:last-child{
      margin-right: 0;
    }
  }
  &_content{
    background: #fff;
    display: none;
    margin-top: -1px;
    padding: 80px;
    clear: both;
    overflow: hidden;
    border: 1px solid #EAE4E3;
    @include transition;
    @media #{$tb}{
      padding: 40px;
    }
    @media #{$sp}{
      padding: 5%;
    }
  }
  input[name="tabs_item"] {
    display: none;
  }
  .active{
    display: block;
    @include transition;
  }
  input:checked + .tabs_item{
    color: $color;
    background: #fff;
    border-bottom: 1px solid #fff;
    @media #{$sp}{}
  }
}
