// main: ../../import.scss
.article{
  &-products{
    &_lists{
      &__item{
        .thumb{
          margin-bottom: 12px;
          img{
            width: 100%;
          }
        }
        .txt{
          .ttl-post{
            @include ftz(16px, 17px, 480px, 1280px, 17px);
            font-weight: 600;
            margin-bottom: 8px;
          }
          .excerpt{
            padding-left: 1.2em;
            margin-bottom: 11px;
            li{
              @include ftz(12px, 13px, 480px, 1280px, 13px);
              line-height: 1.1;
              margin-bottom: 8px;
              list-style: disc;
              color: #656565;
              &:last-child{
                margin-bottom: 0;
              }
            }
          }
          .campaign{
            @include ftz(14px, 15px, 480px, 1280px, 15px);
            font-weight: 600;
            line-height: 1.4;
            margin-bottom: 8px;
            white-space: pre-line;
          }
          .conv{
            .price{
              @include ftz(20px, 24px, 480px, 1280px, 24px);
              font-weight: 500;
              color: $color_3;
              letter-spacing: 0;
              small{
                @include ftz(11px, 11px, 480px, 1280px, 11px);
                color: $color_3;
                display: inline-block;
                vertical-align: middle;
                margin-left: 3px;
              }
            }
          }
        }
      }
    }
  }
}