// main: ../../import.scss
.is-cart{
  overflow: hidden;
  &-wrap{
    width: calc(100% - vwpc(320));
    margin: vwpc(50) auto vwpc(120);
    @media #{$tbvertical}{
      width: 90%;
    }
    @media #{$sp}{
      width: 86%;
      margin: 7% auto vwsp(50);
    }
    &-flex{
      @media #{$tbvertical}{
        display: block;
      }
      @media #{$sp}{
        display: block;
      }
    }
  }
  &-main{
    width: calc(100% - vwpc(340) - 60px);
    margin-right: vwpc(60);
    @media #{$tbvertical}{
      width: 100%;
    }
    @media #{$sp}{
      width: 100%;
      margin: 0 auto;
    }
  }
  .aside{
    width: vwpc(340);
    @media #{$tbvertical}{
      width: 100%;
      margin: 20px auto 0;
    }
    @media #{$sp}{
      width: 100%;
      margin: 20px auto 0;
    }
  }
  &_navi{
    width: calc(100% - vwpc(320));
    margin: vwpc(50) auto;
    @media #{$tbvertical}{
      width: 90%;
    }
    @media #{$sp}{
      width: 86%;
      margin: 20px auto;
    }
    li{
      width: calc(100% / 3);
      background: #f0f3f3;
      padding: 18px 0;
      text-align: center;
      @include ftz(14px, 18px, 480px, 1280px, 18px);
      font-weight: 700;
      border-right: 1px solid #fff;
      @media #{$sp}{
        padding: 12px 0;
      }
      &:first-child{
        @include bdrs(36px 0 0 36px);
      }
      &:last-child{
        @include bdrs(0 36px 36px 0);
        border-right: 0;
      }
      &.current{
        background: $color_5;
      }
    }
  }
  &-table{
    @media #{$sp}{
      overflow: scroll;
      white-space: nowrap;
    }
  }
  &-btn{
    margin-top: 20px;
    &_lists{
      &__item{
        width: 100%;
        // width: calc((100% - 20px) / 2);
        // @media #{$sp}{
        //   width: calc((100% - 10px) / 2);
        // }
        button[type=submit],a{
          @include ftz(14px, 15px, 480px, 1280px, 15px);
          font-weight: 600;
          text-align: center;
        }
        &.reset button[type=submit]{
          width: 100%;
          appearance: none;
          border: none;
          background: #f0f3f3;
          color: $color;
          padding: 13px 0;
          @include bdrs(25px);
        }
        &.continue a{
          width: 100%;
          display: block;
          background: $color;
          color: #fff;
          padding: 10px 0;
          @include bdrs(25px);
        }
      }
    }
  }
  &-related{
    margin-top: vwpc(60);
    position: relative;
    @media #{$sp}{
      margin-top: vwsp(40);
    }
    .thumb{
      border: 1px solid $color_6;
      @include bdrs(12px);
      margin-bottom: 12px;
      img{
        width: 100%;
        @include bdrs(12px);
      }
    }
    .txt{
      .ttl-post{
        @include ftz(16px, 17px, 480px, 1280px, 17px);
        font-weight: 600;
        margin-bottom: 8px;
      }
      .conv{
        .price{
          @include ftz(20px, 24px, 480px, 1280px, 24px);
          font-weight: 500;
          color: $color_3;
          letter-spacing: 0;
          small{
            @include ftz(11px, 11px, 480px, 1280px, 11px);
            color: $color_3;
            display: inline-block;
            vertical-align: middle;
            margin-left: 3px;
          }
        }
      }
    }
    .swiper-button{
      &-prev{
        left: calc(vwpc(-160) - -40px);
        @media #{$sp}{
          left: -20px;
        }
      }
      &-next{
        right: calc(vwpc(-160) - -40px);
        @media #{$sp}{
          right: -20px;
        }
      }
    }
  }
}
.is-payment,.is-confirm{
  &-wrap{
    &-flex{
      @media #{$tbvertical}{
        display: block;
      }
      @media #{$sp}{
        display: block;
      }
    }
  }
  .cart-form{
    .form-group{
      position: relative;
      margin-bottom: 12px;
      &:last-child{
        margin-bottom: 0;
      }
      .txt{
        @include ftz(17px, 18px, 480px, 1280px, 18px);
      }
      label{
        @include ftz(16px, 17px, 480px, 1280px, 17px);
        font-weight: 700;
        display: block;
        margin-bottom: 3px;
        .required{
          @include ftz(10px, 11px, 480px, 1280px, 11px);
          font-weight: 600;
          display: inline-block;
          color: #fff;
          background: $color_3;
          padding: 8px 12px;
          @include bdrs(15px);
          line-height: 1;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      input[type=text],input[type=tel],input[type=email],select{
        width: 100%;
        padding: 24px 2em;
        background: #fbfbfc;
        border: 1px solid #E6E6E6;
        @include bdrs(6px);
        @include ftz(14px, 15px, 480px, 1280px, 15px);
        outline: 0;
        appearance: none;
        margin-bottom: 10px;
        @media #{$sp}{
          padding: 17px 1.4em;
        }
        &::placeholder{
          color: #919191;
        }
      }
      .select-wrapper{
        position: relative;
        &::before{
          width: 10px;
          height: 6px;
          content: '';
          background: url('/images/common/ic-ar-b.svg') center / cover no-repeat;
          position: absolute;
          top: calc(50% - 8px);
          right: 30px;
        }
      }
    }
  }
}
.is-complete{
  &-main{
    width: vwpc(600);
    margin: 0 auto;
    border: 1px solid #E4E4E4;
    @include bdrs(8px);
    padding: 60px 0;
    @media #{$tbvertical}{
      width: 80%;
    }
    @media #{$sp}{
      width: 100%;
      padding: 50px 5%;
    }
    h3,p{
      text-align: center;
      font-weight: 700;
    }
    .ttl{
      @include ftz(20px, 24px, 480px, 1280px, 24px);
    }
    .lead{
      @include ftz(14px, 17px, 480px, 1280px, 17px);
      line-height: 1.882;
      margin: 8px 0 30px;
    }
    .btn-more{
      width: 280px;
      margin: 0 auto;
      @media #{$sp}{
        width: 80%;
      }
      a{
        padding: 10px 20px;
      }
    }
  }
}