// main: ../../import.scss
.is-login{
  position: relative;
  height: calc(100vh - 87px);
  overflow: hidden;
  &-content{
    h1,h2,p{
      text-align: center;
    }
    h2{
      @include ftz(14px, 15px, 480px, 1280px, 15px);
      font-weight: 600;
      margin: 24px auto 0;
    }
    p{
      @include ftz(11px, 13px, 480px, 1280px, 13px);
    }
    .form{
      width: 420px;
      margin: 20px auto 30px;
      .form-group{
        input[type=text]{
          width: 100%;
          padding: 18px 2em;
          background: #fbfbfc;
          border: 1px solid #E6E6E6;
          @include bdrs(6px);
          @include ftz(14px, 15px, 480px, 1280px, 15px);
          text-align: center;
          appearance: none;
          margin-bottom: 10px;
          @media #{$sp}{
            width: 80%;
            margin: 0 auto 10px;
            display: block;
          }
          &::placeholder{
            color: #919191;
          }
        }
      }
      .btn{
        width: 100%;
        height: 56px;
        @include bdrs(6px);
        background: $color_1;
        @include ftz(14px, 15px, 480px, 1280px, 15px);
        appearance: none;
        border: 0;
        color: #fff;
        @include transition(.5s);
        @media #{$sp}{
          width: 80%;
          margin: 0 auto;
          display: block;
        }
        &:hover{
          cursor: pointer;
          @include opacity(.7);
        }
      }
    }
    .attention{
      color: #909090;
      line-height: 1.615;
    }
  }
}
.is-home{
  overflow: hidden;
  &-wrap{
    margin-bottom: calc(vwpc(120) - 50px);
    @media #{$tbvertical}{
      display: block;
    }
    @media #{$sp}{
      display: block;
    }
  }
  &-main{
    width: calc(100% - vwpc(300) - 50px - vwpc(80));
    margin-right: vwpc(80);
    @media #{$tbvertical}{
      width: 90%;
      margin: 0 auto;
    }
    @media #{$sp}{
      width: 86%;
      margin: 0 auto;
    }
  }
}
.ftr-bnr{
  padding: vwpc(30) vwpc(80);
  border-top: 1px solid #E4E4E4;
  @media #{$sp}{
    padding: 5%;
  }
  &_lists{
    @media #{$sp}{
      display: block;
    }
    &__item{
      width: calc((100% - 100px) / 3);
      @media #{$sp}{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
        &:last-child{
          margin-bottom: 0;
        }
      }
      img{
        width: 100%;
      }
    }
  }
}
