// main: ../../import.scss
// --------------------------------------------------
// FOOTER
// --------------------------------------------------
.footer{
	width: 100%;
	position: relative;
	@media #{$sp}{
		margin-bottom: 66px;
	}
	&-login{
		@media #{$sp}{
			margin-bottom: 0;
		}
	}
	&-hdr{
		background: #3e3c45;
		padding: 12px 20px;
		@media #{$sp}{
			display: block;
		}
		&_seller{
			color: #fff;
			@include ftz(11px, 13px, 480px, 1280px, 13px);
			line-height: 1.5;
			font-weight: 600;
		}
	}
	&-nav{
		&_lists{
			@media #{$tb}{}
			@media #{$sp}{
				margin-top: 10px;
				display: block;
			}
			&__item{
				margin-left: 20px;
				line-height: 1.5;
				@media #{$tb}{}
				@media #{$sp}{
					width: 100%;
					margin-left: 10px;
				}
				&:first-child{
					margin-left: 0;
					@media #{$sp}{
						margin-left: 10px;
					}
				}
				a{
					position: relative;
					@include ftz(11px, 13px, 480px, 1280px, 13px);
					font-weight: 600;
					line-height: 1.5;
					color: #fff;
					@media #{$tb}{}
					&:hover{
						@include opacity(1);
					}
				}
			}
		}
	}
	&-ftr{
		background: #2A292F;
		padding: 12px 20px;
		.copyright{
			color: #fff;
			line-height: 1.5;
			@include ftz(10px, 11px, 480px, 1280px, 11px);
			text-align: right;
			color: #9d9d9d;
		}
	}
}