// main: ../../import.scss
// --------------------------------------------------
// PC/SP switch
// --------------------------------------------------
@media #{$pc}{
  .pc{display: block !important;}
  .sp{display: none !important;}
}
@media #{$tb}{
  .pc{display: none !important;}
  .sp{display: block !important;}
}
@media #{$sp}{
  body{-webkit-text-size-adjust: 100%;}
  .pc{display: none !important;}
  .sp{display: block !important;}
}
