// main: ../../import.scss
// --------------------------------------------------
// WRAPPER
// --------------------------------------------------
.wrapper{
	width: 90%;
	// max-width: vwpc(1000);
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	@media #{$tb}{
		max-width: 90%;
	}
	@media #{$sp}{
		max-width: 100%;
	}
	&-inner{
		width: 84%;
		@media #{$tb}{
			width: 90%;
		}
		@media #{$sp}{
			width: calc(100% - vwsp(80));
		}
	}
}
.window_wrap{
  width: calc(100% - 11vw);
  margin: 0 auto;
  position: relative;
	@media #{$tbside}{
		width: calc(100% - 80px);
	}
	@media #{$tbvertical}{
		width: calc(100% - 60px);
	}
	@media #{$sp}{
		width: calc(100% - 16vw);
	}
}
.wrap-sec{
	margin-bottom: 180px;
	@media #{$tbside}{
    margin-bottom: 120px;
  }
  @media #{$tbvertical}{
    margin-bottom: 140px;
  }
  @media #{$sp}{
    margin-bottom: 120px;
  }
}
