// main: ../../../import.scss
// --------------------------------------------------
// ARTICLE
// --------------------------------------------------
.article-clm{
  // .post_tag{
  //   &_item{
  //     border: 1px solid $color_1;
  //     @include bdrs(26px)
  //     padding: 4px 18px 3px;
  //     @include bdrs(12px)
  //     line-height: 1;
  //     @include ftz(11px, 14px, 480px, 1280px, 14px);
  //     font-weight: 600;
  //     color: $color_1;
  //     display: inline-block;
  //     @media #{$tbvertical}{}
  //     @media #{$sp}{
  //       padding: 1px 8px;
  //     }
  //   }
  // }
  .no-post{
    @include ftz(18px, 18px, 480px, 1280px, 18px);
    // text-align: center;
    font-weight: 600;
    margin: 100px 0;
  }
  &_lists{
    // COMMON CLM ----------------------
    &__item{
      position: relative;
      @include transition(.5s);
      &:hover,&:focus{
        @include opacity(.7)
      }
      .thumb{
        position: relative;
        img{
          width: 100%;
          display: block;
          font-size: 0;
          // height: 320px;
          // object-fit: cover;
          // @media #{$tbvertical}{
          //   height: 250px;
          // }
          // @media #{$sp}{
          //   height: 170px;
          // }
        }
      }
    }
    // CLM1 ----------------------
    &-1{
      .clm_item{
        width: 100%;
      }
    }
    // CLM2 ----------------------
    &-2{
      @include flex-start;
      @include flex-wrap;
      .clm_item{
        width: calc((100% - 50px) / 2);
        margin: 0 50px 50px 0;
        @media #{$tb}{
          width: calc((100% - 30px) / 2);
          margin: 0 30px 50px 0;
        }
        &:nth-of-type(2n){
          margin-right: 0;
        }
        @media #{$sp}{
          width: 100%;
          margin: 0 auto 40px;
        }
        // .img img{
        //   width: 100%;
        //   height: 320px;
        //   object-fit: cover;
        //   @media #{$sp}{
        //     height: 220px;
        //   }
        // }
      }
    }
    // CLM3 ----------------------
    &-3{
      @include flex-start;
      @include flex-wrap;
      // @media #{$tbvertical}{
      //   display: block;
      // }
      @media #{$sp}{
        display: block;
      }
      &::after{
        width: calc((100% - 50px) / 3);
        content: '';
        display: block;
        @media #{$sp}{
          display: none;
        }
      }
      .clm_item{
        width: calc((100% - 50px) / 3);
        margin: 0 25px 50px 0;
        @media #{$tb}{
          width: calc(50% - 20px);
          margin-right: 40px;
        }
        @media #{$sp}{
          width: 100%;
          margin: 0 auto 40px;
        }
        &:nth-of-type(3n){
          @media #{$pc_only}{
            margin-right: 0;
          }
        }
        &:nth-of-type(2n){
          @media #{$tb}{
            margin-right: 0;
          }
        }
      }
    }
    // CLM4 ----------------------
    &-4{
      @include flex-start;
      @include flex-wrap;
      .clm_item{
        width: calc(25% - 30px);
        margin: 0 40px 40px 0;
        @media #{$tbside}{}
        @media #{$tbvertical}{
          width: calc(50% - 20px);
          margin: 0 40px 80px 0;
          &:nth-of-type(2n){
            margin-right: 0;
          }
        }
        @media #{$sp}{
          width: calc(50% - 10px);
          margin: 0 20px 20px 0;
          &:nth-of-type(2n){
            margin-right: 0;
          }
        }
        &:nth-of-type(4n){
          margin-right: 0;
        }
      }
    }
    // CLM4 ----------------------
    &-5{
      @include flex-wrap;
      .clm_item{
        width: calc((100% - (30px * 4)) / 5);
        margin: 0 30px 40px 0;
        &:nth-of-type(5n){
          margin-right: 0;
        }
        @media #{$tbside}{
          &:nth-of-type(5n){
            margin-right: 0;
          }
        }
        @media #{$tbvertical}{
          width: calc((100% - (20px * 3)) / 4);
          margin: 0 20px 40px 0;
          &:nth-of-type(5n){
            margin-right: 20px;
          }
          &:nth-of-type(4n){
            margin-right: 0;
          }
        }
        @media #{$sp}{
          width: calc(50% - 10px);
          margin: 0 20px 20px 0;
          &:nth-of-type(5n){
            margin-right: 20px;
          }
          &:nth-of-type(2n){
            margin-right: 0;
          }

        }
      }
    }
  }
}
