// main: ../../../import.scss
// --------------------------------------------------
// FAQ
// --------------------------------------------------
.is-faq{
  &-wrap{
    margin-bottom: vwpc(120);
    @media #{$sp}{
      margin-bottom: vwsp(50);
    }
  }
  &-inner{
    width: vwpc(780);
    margin: 0 auto;
    @media #{$sp_tb}{
      width: 87%;
    }
  }
  &-box{
    margin-bottom: 36px;
    &:last-child{
      margin-bottom: 0;
    }
    .ques,.ans{
      padding: 12px 0 0 72px;
      position: relative;
      @media #{$sp}{
        padding: 6px 0 0 52px;
      }
      &::before{
        width: 52px;
        height: 52px;
        @include ftz(18px, 24px, 480px, 1280px, 24px);
        font-weight: 700;
        line-height: 52px;
        text-align: center;
        @include bdrs(50%);
        @include ff-en-1;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        @media #{$sp}{
          width: 38px;
          height: 38px;
          line-height: 38px;
        }
      }
    }
    .ques{
      @include ftz(16px, 17px, 480px, 1280px, 17px);
      line-height: 1.733;
      font-weight: 600;
      margin-bottom: 20px;
      @media #{$sp}{
        margin-bottom: 3px;
      }
      &::before{
        background: $color_1;
        content: 'Q';
      }
    }
    .ans{
      @include ftz(14px, 15px, 480px, 1280px, 15px);
      line-height: 1.733;
      &::before{
        background: $color_3;
        content: 'A';
      }
    }
  }
}
