// main: ../../../import.scss
// --------------------------------------------------
// SNS
// --------------------------------------------------
.is-sns{
  z-index: 1000;
  &_lists{
    text-align: center;
    li{
      margin-left: 30px;
      @media #{$sp}{
        margin-left: 20px;
      }
      &:first-child{
        margin-left: 0;
      }
      a{
        // width: 86px;
        // height: 86px;
        // @include bdrs(50%)
        // line-height: 86px;
        // padding-left: 2px;
        // display: block;
        // background: rgba(#fff,.8);
        // position: relative;
        @media #{$sp}{
          // width: 62px;
          // height: 62px;
          // line-height: 62px;
        }
      }
      i{
        color: #fff;
        @include ftz(18px, 20px, 480px, 1280px, 20px);
      }
    }
  }
}
