// main: ../../import.scss
.is-nav{
	z-index: 1000;
	margin-right: 30px;
	@media #{$sp}{
		margin-right: 0;
	}
	&_lists{
		margin-top: 6px;
		@media #{$sp}{
			display: block;
		}
		&__item{
			margin-right: 18px;
			@media #{$sp_tb}{}
			&:last-child{
				margin-right: 0;
			}
			a{
				@include ftz(14px, 15px, 480px, 1280px, 15px);
				letter-spacing: 0;
				display: block;
				position: relative;
				background-image: linear-gradient($color_1, $color_1);
				background-repeat: no-repeat;
				background-position: bottom right;
				background-size: 0 2px;
				transition: background-size 0.3s;
				padding-bottom: 3px;
				// background: rgba($color_9,.1);
				// padding: 0 4px;
				@media #{$sp}{
					background: none;
				}
				// &::before{
				// 	width: calc(100% + 10px);
				// 	height: 2px;
				// 	@include bdrs(5px);
				// 	content: '';
				// 	position: absolute;
				// 	bottom: -1px;
				// 	z-index: -1;
				// 	left: -10%;
				// 	@include transition(.7s);
				// 	@media #{$sp_tb}{
				// 		content: none;
				// 	}
				// }
				&:hover{
					@include opacity(1);
					background-position: bottom left;
					background-size: 100% 2px;
					// &::before{
					// 	background: #BBE1D5;
					// 	background: $color_9;
					// 	left: -5px;
					// }
				}
			}
			&-ac{
				margin-right: 0;
				dl{
					dt{
						position: relative;
						background-image: linear-gradient($color_9, $color_9);
						background-repeat: no-repeat;
						background-position: bottom right;
						background-size: 0 2px;
						transition: background-size 0.3s;
						padding-right: 30px;
						// background: rgba($color_9,.1);
						// padding: 0 4px;
						@media #{$sp_tb}{
							padding-right: 0;
						}
						@media #{$sp}{
							background: none;
						}
						&::before{
							width: 8px;
							height: 14px;
							background: url('/images/common/arw-green2.svg') center / cover no-repeat;
							content: '';
							position: absolute;
							top: calc(50% - 5px);
							right: 10px;
							@include rotate(90deg);
							@include transition(.7s);
						}
						// &::after{
						// 	width: calc(100% + 10px);
						// 	height: 2px;
						// 	@include bdrs(5px);
						// 	content: '';
						// 	position: absolute;
						// 	bottom: -1px;
						// 	z-index: -1;
						// 	left: -10%;
						// 	@include transition(.7s);
						// 	@media #{$sp_tb}{
						// 		content: none;
						// 	}
						// }
						&:hover{
							background-position: bottom left;
							background-size: 100% 2px;
							// &::after{
							// 	background: #BBE1D5;
							// 	background: $color_9;
							// 	left: -5px;
							// }
						}
						&.active{
							&::before{
								@include rotate(-90deg);
							}
						}
					}
					dd{
						width: 400%;
						position: absolute;
						top: 30px;
						left: 0;
						background: #fff;
						// padding: 0 20px 20px;
						padding: 20px;
						z-index: 1;
						@media #{$sp_tb}{
							width: auto;
							position: relative;
							top: auto;
							left: auto;
							background: none;
							padding: 0;
							z-index: 1;
							br{
								display: none;
							}
						}
						a{
							display: inline-block;
							background-repeat: no-repeat;
							background-position: bottom right;
							background-size: 0 2px;
							// transition: background-size 0.3s;
							// background: none;
							padding: 0 8px;
							@include bdrs(3px);
							@include transition(.7s);
							&:hover{
								// background-position: bottom left;
								background-size: 0 2px;
								&.item{
									&-1{
										background: rgba($color_7,.3);
									}
									&-2{
										background: rgba($color_6,.3);
									}
									&-3{
										background: rgba($color_5,.3);
									}
									&-4{
										background: rgba($color_4,.3);
									}
									&-5{
										background: rgba($color_3,.3);
									}
									&-6{
										background: rgba($color_2,.3);
									}
								}
							}
						}
						.risk_conversion{
							width: 100%;
							&-hdr{
								display: none;
							}
							&-ftr{
								&_lists{
									&__item{
										width: calc((100% - 30px) / 2);
										margin: 0 30px 30px 0;
										&:nth-of-type(2n){
											margin-right: 0;
										}
										a{
											position: absolute;
											background: none;
											padding: 0;
										}
									}
								}
							}
						}
					}
				}
			}
			// &-marker{
			// 	background: rgba($color_9,.3);
			// 	padding: 0 4px;
			// }
		}
	}
	.drawer-nav{
		width: 100%;
		height: 100vh;
		background: #fff;
		z-index: 29999;
		@media #{$tbside}{
			width: 40%;
		}
		@media #{$tbvertical}{
			width: 50%;
		}
		.drawer-menu{
			.logo{
				margin: 10px 0 25px 10px;
			}
		}
		.is-nav{
			&_lists{
				@media #{$sp_tb}{
					display: block;
				}
				@media #{$tb}{
					padding: 40% 10% 10%;
				}
				@media #{$sp}{
					padding: vwsp(150) vwsp(40) 0;
				}
				&__item{
					@media #{$sp_tb}{
						position: relative;
						margin: 0 0 15px;
						padding-bottom: 14px;
						border-bottom: 1px solid #D9D9D9;
					}
					a,dt{
						@media #{$sp_tb}{
							display: block;
							position: relative;
							@include ftz(15px, 15px, 480px, 1280px, 15px);
							&::before{
								width: 5px;
								height: 10px;
								background: url('/images/common/arw-green2.svg') center / cover no-repeat;
								content: '';
								position: absolute;
								top: calc(50% - 5px);
								left: auto;
								right: 10px;
							}
						}
					}
					&.ac_lists{
						dt{
							&::before{
								@include rotate(90deg);
								@include transition(.7s);
							}
							&.active{
								margin-bottom: 14px;
								&::before{
									@include rotate(-90deg);
								}
							}
						}
						dd{
							border-top: 1px solid #D9D9D9;
							a{
								padding: 13px 0 13px 20px;
								background: rgba($color_9,.05);
								border-bottom: 1px solid #D9D9D9;
								&::before{
									right: 15px;
								}
								&:last-child{
									border-bottom: 0;
								}
							}
						}
						&.open{
							@media #{$sp_tb}{
								padding-bottom: 0;
							}
						}
					}
				}
			}
		}
	}
	.drawer-overlay{
		background: rgba(59,59,59,.5);
		// background: none;
		z-index: 29000;
	}
	.drawer--bottom .drawer-nav{
		top: auto;
		bottom: -100%;
		left: 0;
		-webkit-transition: bottom .6s cubic-bezier(.19,1,.22,1);
		transition: bottom .6s cubic-bezier(.19,1,.22,1);
	}
	.drawer--right .drawer-nav{
		right: -100%;
	}
	.drawer-hamburger{
		width: 40px;
		height: 40px;
		position: fixed;
		top: auto !important;
		top: 35px !important;
		right: 8px !important;
		// @include bdrs(50%);
		padding: 0;
		// @include shadow_s;
		z-index: 30002;
		// background: #fff;
		-webkit-appearance: none;
		@media #{$tb}{
			top: 65px !important;
			right: 15px !important;
		}
		@media #{$sp}{
			width: 40px;
			height: 40px;
		}
		&:hover{
			background: none;
		}
		// .text{
		// 	&::before{
		// 		@include ftz(11px, 13px, 480px, 1280px, 13px);
		// 		font-weight: 600;
		// 		// content: 'MENU';
		// 		content: none;
		// 		@include ff-en-1;
		// 		color: #252C34;
		// 		line-height: 1;
		// 		position: absolute;
		// 		top: 32%;
		// 		left: 50%;
		// 		@include translate;
		// 		@media #{$tbvertical}{}
		// 		@media #{$sp}{
		// 			content: none;
		// 		}
		// 	}
		// }
	}
	.drawer-hamburger-icon{
		width: 18px;
		height: 1px;
		position: absolute;
		top: 50%;
		left: calc(50% - 6px);
		background: $color;
		margin: 0;
		@media #{$sp}{
			width: 18px;
			top: 50%;
			left: calc(50% - 9px);
		}
		&:after,&:before{
			height: 1px;
			background: $color;
		}
		&:before{
			top: -6px;
		}
		&:after{
			top: 6px;
		}
	}
	.drawer-open{
		.drawer-nav{
			right: 0;
		}
		.drawer-menu{
			height: 130vh;
			overflow-y: scroll;
			overflow-x: hidden;
			overflow-y: -ms-autohiding-scrollbar;
			&::-webkit-scrollbar{
				display: none;
			}
		}
		.text{
			&::before{
				content: 'CLOSE';
				content: none;
			}
		}
		.drawer-hamburger{
			mix-blend-mode: normal !important;
		}
		.drawer-hamburger-icon{
			background: none;
			&::before,&::after{
				width: 100%;
			}
			&:before{
				left: 0;
				@media #{$sp}{}
			}
			&:after{
				top: -6px;
				left: 0;
				@media #{$sp}{}
			}
		}
	}

	.drawer-nav li.anchor{
		padding: 0 0 0 50px;
	}
	.drawer-nav li.anchor a{
		font-size: 14px;
	}
	.drawer-nav li.cm,.drawer-nav li.cp{
		margin: 50px 0 0 0;
	}
	.drawer-nav li.cm a,.drawer-nav li.cp a{
		text-indent: -1em;
		margin-left: 1em;
	}

	.drawer-nav li.nolink .link{
		opacity: 0.4
	}
	.drawer-nav li.nolink .link:hover{
		text-decoration: none;
	}
	.drawer-nav li .link{
		color: #fff;
	}
	.drawer-nav li .link img{
		vertical-align: middle;
	}
	.drawer-nav li .link span{
		font-size:18px;
		display: block;
	}
	.drawer-menu-item{
		padding: 5px 0;
	}
	.drawer--left.drawer-open .drawer-hamburger, .drawer--left.drawer-open .drawer-navbar .drawer-hamburger{
		left: 0 !important;
	}
	.drawer--bottom.drawer-open .drawer-nav{
		height: 100px;
		bottom: 0 !important;
		@media #{$sp}{
			height: auto;
		}
	}
}
