// main: ../../import.scss
.paginavi{
  ul{
    margin: 20px auto 0;
    font-size: 0;
    text-align: center;
    @media #{$sp}{
      margin-top: 32px;
    }
    li{
      display: inline-block;
      vertical-align: middle;
      margin: 0 20px 20px 0;
      @media #{$sp}{
        margin: 0 10px 10px 0;
      }
      &:last-child{
        margin-right: 0;
      }
      a{
        width: 88px;
        height: 88px;
        line-height: 88px;
        display: block;
        color: #fff;
        text-align: center;
        @include bdrs(22px);
        @include ff-en-1;
        @include ftz(20px, 28px, 480px, 1280px, 28px);
        background: $color_4;
        position: relative;
        @include transition(.5s);
        @media #{$sp}{
          width: 44px;
          height: 44px;
          line-height: 44px;
          @include bdrs(12px);
        }
        &:hover{
          @include opacity(1);
          color: #B5BCCB;
          background: $color_bg1;
          i{
            color: #B5BCCB;
          }
        }
        i{
          color: #fff;
          display: block;
          @include ftz(16px, 20px, 480px, 1280px, 20px);
          line-height: 88px;
          padding-left: 2px;
          @media #{$sp}{
            line-height: 44px;
          }
        }
      }
      .dots{
        @include ff-en-1;
        line-height: 0;
        @include ftz26;
        @media #{$sp}{
          @include ftz20;
        }
      }
    }
    .current{
      width: 88px;
      height: 88px;
      line-height: 88px;
      @include bdrs(22px);
      @include ff-en-1;
      @include ftz(20px, 28px, 480px, 1280px, 28px);
      color: #B5BCCB;
      background: $color_bg1;
      display: block;
      position: relative;
      @media #{$sp}{
        width: 44px;
        height: 44px;
        line-height: 44px;
        @include bdrs(12px);
      }
    }
    .next,.prev{
      position: relative;
      @include transition(.5s);
      @media #{$pc}{
        &:hover{
          &::before{
            color: $color_1;
          }
        }
      }
    }
  }
}
