// main: ../../import.scss
.is-single{
  &-wrap{
    width: calc(100% - vwpc(160));
    margin: vwpc(50) auto vwpc(120);
    @media #{$tbvertical}{
      width: 100%;
      display: block;
      margin: 7% auto vwsp(50);
    }
    @media #{$sp}{
      width: 100%;
      display: block;
      margin: 7% auto vwsp(50);
    }
  }
  &-main{
    width: calc(100% - vwpc(340) - 60px);
    margin-right: vwpc(60);
    @media #{$tbvertical}{
      width: 90%;
      margin: 0 auto;
    }
    @media #{$sp}{
      width: 86%;
      margin: 0 auto;
    }
  }
  .aside{
    width: vwpc(340);
    @media #{$tbvertical}{
      width: 90%;
      margin: 0 auto;
    }
    @media #{$sp}{
      width: 86%;
      margin: 0 auto;
    }
  }
  &-hdr{
    @media #{$sp}{
      width: 100%;
      display: block;
    }
    .thumb{
      width: vwpc(484);
      overflow: hidden;
      @media #{$tb}{
        width: 50%;
      }
      @media #{$sp}{
        width: 100%;
        margin-bottom: 20px;
      }
      .slider-thumbnail{
        margin-top: 10px;
        .swiper-slide{
          width: auto;
          margin-right: 10px;
          @media #{$sp}{}
        }
      }
    }
    .introduction{
      width: vwpc(356);
      @media #{$tb}{
        width: 45%;
      }
      @media #{$sp}{
        width: 100%;
      }
      .ttl-post{
        @include ftz(20px, 22px, 480px, 1280px, 22px);
        line-height: 1.538;
        margin-bottom: 4px;
        @media #{$sp}{}
      }
      .excerpt{
        padding-left: 1.2em;
        margin-bottom: 4px;
        li{
          @include ftz(14px, 15px, 480px, 1280px, 15px);
          line-height: 1.533;
          margin-bottom: 8px;
          list-style: disc;
          color: #656565;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      .campaign{
        @include ftz(14px, 13px, 480px, 1280px, 13px);
        font-weight: 600;
        line-height: 1.4;
      }
      .price{
        @include ftz(28px, 24px, 480px, 1280px, 24px);
        font-weight: 500;
        color: $color_3;
        letter-spacing: 0;
        margin-top: 20px;
        padding-top: 15px;
        border-top: 1px solid #E4E4E4;
        @media #{$sp}{
          padding-top: 10px;
        }
        small{
          @include ftz(11px, 11px, 480px, 1280px, 11px);
          color: $color_3;
          display: inline-block;
          vertical-align: middle;
          margin-left: 3px;
        }
      }
    }
  }
  &-body{
    margin-top: 60px;
    @media #{$sp}{
      margin-top: 40px;
    }
    &-txt_box{
      margin-bottom: 30px;
      &-detail{
        border-bottom: 1px solid #E4E4E4;
        padding-bottom: 40px;
        margin-bottom: 40px;
      }
      h3{
        @include ftz(16px, 17px, 480px, 1280px, 17px);
        font-weight: 700;
        border-bottom: 1px solid #E4E4E4;
        padding-bottom: 8px;
        margin-bottom: 11px;
      }
      p{
        @include ftz(14px, 15px, 480px, 1280px, 15px);
        line-height: 1.733;
        margin-bottom: 10px;
        &:last-child{
          margin-bottom: 0;
        }
        small{
          @include ftz(12px, 13px, 480px, 1280px, 13px);
          display: block;
           margin-bottom: 8px;
        }
      }
      ul{
        padding-left: 1.2em;
        li{
          @include ftz(14px, 15px, 480px, 1280px, 15px);
          line-height: 1.733;
          margin-bottom: 4px;
          list-style: disc;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .the_content{
    h2,h3,h4,h5,h6,p,a,span,strong,i,li,em{
      @include ff-jp;
      @include ftz(15px, 16px, 480px, 1280px, 16px);
    }
    h2,h2 span{
      // padding: 22px 1.2em;
      // background: rgba($color_1,.7);
      // @include bdrs(22px)
      margin: 50px 0 30px;
      @include ftz(16px, 22px, 480px, 1280px, 22px);
      line-height: 1.545;
      font-weight: 700;
      padding-left: 18px;
      position: relative;
      @media #{$sp}{
        // padding: 6%;
        // @include bdrs(12px)
        margin: 30px 0 18px;
      }
      &::before{
        width: 8px;
        height: 8px;
        content: '';
        @include bdrs(50% 0 50% 50%);
        position: absolute;
        top: calc(50% - 4px);
        left: 0;
        background: $color_2;
      }
    }
    h3{
      border-left: 6px solid $color_3;
      padding: 2px 0 1px .9em;
      margin: 60px 0 40px;
      line-height: 1.65;
      @include ftz(20px, 24px, 480px, 1280px, 24px);
      font-weight: 600;
      @media #{$sp}{
        margin: 54px 0 28px;
        line-height: 1.4;
      }
    }
    h4,h4 span{
      margin: 50px 0 28px;
      @include ftz(18px, 18px, 480px, 1280px, 20px);
      @media #{$sp}{
        margin: 64px 0 24px;
        line-height: 1.4;
      }
    }
    h5,h5 span{
      margin: 60px 0 38px;
      @include ftz(18px, 18px, 480px, 1280px, 18px);
      @media #{$sp}{
        margin: 54px 0 24px;
        line-height: 1.4;
      }
    }
    p,span,strong,a,i,em{
      margin-bottom: 36px;
      @media #{$sp}{
        margin-bottom: 20px;
      }
    }
    p{
      line-height: 2.25;
      @media #{$sp}{
        line-height: 2;
      }
    }
    a{
      color: $color_1;
      text-decoration: underline;
      em{
        color: $color_1;
        text-decoration: none;
        font-style: normal;
        display: inline-block;
        position: relative;
        margin-bottom: 0;
        &:after,&::before{
          width: 12px;
          height: 12px;
          @include bdrs(1px);
          background: none;
          position: absolute;
          content: '';
        }
        &:after{
          top: 12px;
          right: -16px;
        }
        &:before{
          top: 8px;
          right: -19px;
        }
      }
    }
    .btn-more{
      &-link{
        a{
          width: 100%;
          color: #fff;
          font-style: normal;
          text-decoration: none;
        }
      }
    }
    img{
      @include bdrs(42px);
      margin-bottom: 30px;
      @media #{$sp}{
        margin-bottom: 24px;
        @include bdrs(22px);
      }
    }
    ul{
      margin: 40px 0;
      li{
        position: relative;
        padding-left: 1.1em;
        margin-bottom: .6em;
        &::before{
          width: 8px;
          height: 8px;
          display: block;
          position: absolute;
          top: calc(50% - 4px);
          left: 0;
          content: "";
          background: $color_1;
          @include bdrs(50%);
          @media #{$sp}{
            top: 11px;
          }
        }
      }
    }
    ol{
      margin: 40px 0;
      li{
        list-style-type:none;
        list-style-position:inside;
        counter-increment: cnt;
        margin-bottom: .6em;
        padding-left: 1.1em;
        position: relative;
        &:before{
          @include ff-en-1;
          display: marker;
          content: "" counter(cnt) "";
          color: $color_1;
          position: absolute;
          left: 0;
        }
      }
    }
    blockquote{
      padding: 30px;
      background: #F7F7F7;
      // @include bdrs(10px)
      @media #{$sp}{
        padding: 6%;
      }
      p{
        // border-left: 2px solid $color_1;
        // padding: 0 0 0 1.1em;
        margin-bottom: 0;
      }
    }
    table{
      width: 100%;
      border-bottom: 2px solid #000;
      tr{
        td{
          width: 84% !important;
          padding: 5px 0;
          @media #{$sp}{
            width: 100% !important;
            height: auto !important;
            display: block;
            padding: 0 0 14px;
            line-height: 1.5;
          }
          &:first-child{
            width: 16% !important;
            color: $color_1;
            padding-left: 24px;
            @media #{$sp}{
              width: 100% !important;
              padding: 0 0 4px;
            }
          }
        }
        &:last-child{
          td{
            &:last-child{
              padding-bottom: 26px;
              @media #{$sp}{
                padding-bottom: 20px;
              }
            }
          }
        }
      }
    }
    .gallery{
      &-columns-2{
        .gallery-item{
          width: calc(50% - 20px) !important;
          @media #{$sp}{
            width: calc(50% - 10px) !important;
          }
          &:first-child{
            margin-right: 40px;
            @media #{$sp}{
              margin-right: 20px;
            }
          }
          img{
            border: 0 !important;
          }
        }
      }
    }
  }
}
