// main: ../../import.scss
// --------------------------------------------------
// SCROLL DOWN
// --------------------------------------------------
.scroll_down{
  position: absolute;
  bottom: 0;
  left: 50%;
  @include translate;
  z-index: 101;
  @media #{$sp}{
    bottom: -10px;
  }
  span{
    @include ftz(11px, 13px, 480px, 1280px, 13px);
    color: #fff;
    text-align: center;
    @include ff-en-1;
    display: block;
  }
  b{
    width: 45px;
    height: 52px;
    margin: 5px auto 0;
    display: block;
    background: url('/images/hexagon/line-wh.svg') center / cover no-repeat;
    position: relative;
    i{
      animation: vertical 1s ease-in-out infinite alternate;
      position: absolute;
      top: 45%;
      left: calc(50% - 3px);
      display: block;
    }
  }
}
