// main: ../../import.scss
// --------------------------------------------------
// BREADCRUMBS
// --------------------------------------------------
.breadcrumbs{
  margin-bottom: 14px;
  &-wrap{
    padding: 4px 12px;
    background: $color_bg1;
    @include bdrs(19px);
    @media #{$sp}{
      width: 80%;
      line-height: 1;
      padding: 2px 4px;
    }
  }
	span{
  	margin: 0 5px;
	}
  i{
    @include ftz(12px, 12px, 480px, 1280px, 14px);
    display: inline-block;
  }
	a,span{
    @include ftz(11px, 13px, 480px, 1280px, 13px);
    font-weight: 700;
	}
  .current-item{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 2px;
    @media #{$tb}{
      max-width: 120px;
    }
  }
  &-story{
    @media #{$sp}{
      width: 60%;
    }
    .current-item{
      @media #{$sp}{
        width: 38%;
      }
    }
  }
}
