// main: ../../import.scss
// --------------------------------------------------
// HEADER
// --------------------------------------------------
.header{
  position: relative;
  border-bottom: 1px solid #E4E4E4;
  padding-bottom: 15px;
  @media #{$sp}{
    padding-bottom: 5px;
  }
  .logo{
    width: 200px;
    position: relative;
    margin: 0 0 0 10px;
    @media #{$tb}{}
    @media #{$sp}{
      width: 40%;
      margin-left: 5%;
    }
  }
  &-news{
    margin-bottom: 15px;
    @media #{$sp}{
      margin-bottom: 5px;
    }
    &_ttl{
      width: 86%;
      background: $color_1;
      padding: 8px 0;
      text-align: center;
      color: #fff;
      @include ftz(12px, 15px, 480px, 1280px, 15px);
      font-weight: 600;
      @media #{$tbvertical}{
        width: 80%;
      }
      @media #{$sp}{
        width: 60%;
        padding: 5px 0;
      }
    }
  }
  &-author{
    width: 14%;
    background: #212121;
    text-align: center;
    padding: 12px 0;
    color: #fff;
    color: #1DD681;
    @include ftz(11px, 11px, 480px, 1280px, 11px);
    @media #{$tbvertical}{
      width: 20%;
    }
    @media #{$sp}{
      width: 40%;
      padding: 5px 0;
    }
    span{
      color: #fff;
      color: #1DD681;
      @include ftz(11px, 11px, 480px, 1280px, 11px);
      font-weight: 600;
      display: inline-block;
      margin: 0 4px;
    }
  }
  &-r_side{
    margin-right: 30px;
    @media #{$tb}{
      margin-right: 60px;
    }
    @media #{$sp}{
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      background: #f0f3f3;
      z-index: 10000;
      margin: 0;
      padding: 12px 5%;
    }
    .header-search{
      position: relative;
      @media #{$sp}{
        width: calc(100% - 5% - 38px);
      }
      input[type=text]{
        width: 240px;
        padding: 16px 1.2em;
        background: #fbfbfc;
        border: 1px solid #E6E6E6;
        @include bdrs(28px);
        @include ftz(14px, 15px, 480px, 1280px, 15px);
        @media #{$sp}{
          width: 100%;
          padding: 12px 16px;
        }
      }
      .btn-search{
        appearance: none;
        border: 0;
        background: none;
        position: absolute;
        top: 50%;
        right: 0;
        @include translate;
      }
    }
    .cart{
      margin-left: 15px;
      position: relative;
      a{
        width: 51px;
        height: 51px;
        background: $color_2;
        @include bdrs(50%);
        display: block;
        text-align: center;
        line-height: 56px;
        @media #{$sp}{
          width: 38px;
          height: 38px;
          line-height: 38px;
        }
        i{
          color: #fff;
          @include ftz(15px, 20px, 480px, 1280px, 20px);
        }
      }
      .count{
        width: 21px;
        height: 21px;
        @include bdrs(50%);
        background: $color_3;
        font-style: normal;
        display: block;
        text-align: center;
        color: #fff;
        @include ftz(10px, 10px, 480px, 1280px, 10px);
        position: absolute;
        line-height: 22px;
        top: -5px;
        right: -5px;
        @media #{$sp}{
          top: -8px;
          right: -8px;
        }
      }
    }
  }
}