// main: ../../import.scss
.is-guidance{
  &-wrap{
    margin-bottom: vwpc(120);
  }
  &-inner{
    width: vwpc(780);
    margin: 0 auto;
    @media #{$sp_tb}{
      width: 87%;
    }
  }
  &-box{
    margin-bottom: 36px;
    &:last-child{
      margin-bottom: 0;
    }
    h3{
      @include ftz(15px, 15px, 480px, 1280px, 15px);
      font-weight: 700;
      margin-bottom: 2px;
      @media #{$sp}{
        margin-bottom: 0;
      }
    }
    p{
      @include ftz(14px, 15px, 480px, 1280px, 15px);
      line-height: 1.733;
      margin-bottom: 16px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    .orderd{
      padding: 0 0 0 2em;
      margin-top: 2em;
      &_item{
        list-style-type:none;
        list-style-position:inside;
        counter-increment: cnt;
        margin-bottom: .8em;
        &:before{
          display: marker;
          content: "(" counter(cnt) ") ";
        }
      }
      .bullets{
        margin-top: 0;
        padding: 0 0 0 1em;
      }
    }
    .bullets{
      &_item{
        position: relative;
        list-style: none;
        padding-left: 11px;
        margin-bottom: 6px;
        @include ftz(14px, 15px, 480px, 1280px, 15px);
        line-height: 1.533;
        @media #{$sp}{
          padding-left: .9em;
          line-height: 1.4;
          margin-bottom: 4px;
        }
        &::before{
          width: 4px;
          height: 4px;
          display: block;
          position: absolute;
          top: 9px;
          left: 0;
          content: "";
          background: $color;
          @include bdrs(50%);
          @media #{$sp}{
            width: 4px;
            height: 4px;
            top: 9px;
          }
        }
      }
      .orderd{
        margin-top: 0;
        padding: 0 0 0 1em;
      }
    }
  }
}