// main: ../../import.scss
.icon-lifeivent{
  width: 46px;
  margin: 0 auto;
  display: block;
  @media #{$sp}{
    width: 45px;
  }
}
//----------------------
//ICON TARGET BLANK
//----------------------
// .icon-other{
//   width: 9px;
//   height: 7px;
//   border: 1px solid $color;
//   border-top: 2px solid $color;
//   background: none;
//   position: relative;
//   z-index: 2;
//   display: inline-block;
//   vertical-align: middle;
//   margin-left: 10px;
//   &:before{
//     width: 9px;
//     height: 7px;
//     border-left: 1px solid $color;
//     border-bottom: 1px solid $color;
//     z-index: 1;
//     content: '';
//     position: absolute;
//     top: 0;
//     left: -3px;
//   }
// }
.icon-other{
  width: 16px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  margin-left: 4px;
  &:after,&::before{
    width: 12px;
    height: 12px;
    border: 1px solid $color_bg1;
    @include bdrs(1px);
    background: none;
    position: absolute;
    content: '';
  }
  &:after{
    top: -4px;
    left: 0;
  }
  &:before{
    top: -8px;
    left: 4px;
  }
}

//----------------------
//ICON LINE
//----------------------
.icon-line{
  width: 22px;
  height: 20px;
  // background: url('/images/common/icon-line.svg') 0 0 / cover no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  @include translate;
}
.icon-line-bk{
  background: url('/images/common/icon-line-bk.svg') 0 0 / cover no-repeat;
}
.icon-line_music{
  width: 26px;
  height: 26px;
  background: url('/images/common/icon-linemusic_bk.svg') 0 0 / cover no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  @include translate;
}

//----------------------
//ICON PLAY
//----------------------
.icon-play{
  width: 32px;
  height: 32px;
  // background: rgba(0,0,0,.4);
  position: absolute;
  top: 50%;
  left: 50%;
  @include translate;
  @include bdrs(50%);
  border: 2px solid #fff;
  font-style: normal;
  @media #{$sp}{}
  &::before,&::after{
    position: absolute;
    color: #fff;
    left: 50%;
    @include translate;
    text-align: center;
  }
  &::before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent #fff;
    content: '';
    position: absolute;
    top: 50%;
    left: 54%;
    @include bdrs(3px);
    @include translate;
    // content: '\f04b';
    // top: 50%;
    // left: 55%;
    // font-weight: 600;
    // font-family: 'Font Awesome 5 Free';
    // @include ftz14
  }
  // &::after{
  //   content: 'PLAY';
  //   font-family: $font_web_lato;
  //   top: 30px;
  //   @include ftz10
  // }
}

//----------------------
//ICON PLUS
//----------------------
.icon-plus{
  width: 9px;
  height: 1px;
  background: #fff;
  display: block;
  position: absolute;
  top: 50%;
  right: 50px;
  @media #{$sp}{
    right: 30px;
  }
  &:before{
    width: 1px;
    height: 9px;
    z-index: 1;
    content: '';
    background: #fff;
    position: absolute;
    top: -4px;
    left: 4px;
  }
}
.icon-plus_circle{
  width: 84px;
  height: 84px;
  margin: 0 auto;
  border: 2px solid #fff;
  @include bdrs(50%);
  display: block;
  background: rgba(256,256,256,.2);
  position: relative;
  position: absolute;
  left: calc(50% - 42px);
  bottom: -42px;
  @media #{$sp}{
    width: 54px;
    height: 54px;
    left: calc(50% - 27px);
    bottom: -27px;
  }
  &::before,&::after{
    content: '';
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate;
  }
  &::before{
    width: 1px;
    height: 22px;
  }
  &::after{
    width: 22px;
    height: 1px;
  }
}
