// main: ../../../import.scss
// --------------------------------------------------
// POST TAG
// --------------------------------------------------
.post_tag{
  display: block;
  position: absolute;
  top: 30px;
  left: -20px;
  color: #fff;
  @include ftz(13px, 15px, 480px, 1280px, 15px);
  font-family: $font_base;
  padding: 11px 22px;
  font-weight: 600;
  background: $color_2;
  line-height: 1;
  @media #{$sp}{
    padding: 11px 16px;
    top: 20px;
    left: -10px;
  }
}
