// main: ../../../import.scss
// --------------------------------------------------
// TITLE
// --------------------------------------------------
.ttl{
  &-primary{
    position: relative;
    margin-bottom: 40px;
    position: relative;
    text-align: center;
    @media #{$tbside}{}
    @media #{$tbvertical}{}
    @media #{$sp}{}
    h2{
      span{
        display: block;
        text-align: center;
        line-height: 1;
      }
      .jp{
        @include ftz(22px, 30px, 480px, 1280px, 30px);
        font-weight: 700;
      }
      .en{
        margin-top: 8px;
        i{
          @include ftz(14px, 17px, 480px, 1280px, 17px);
          @include ff-en-1;
          font-style: normal;
          color: #646464;
          display: inline-block;
          padding: 0 20px;
          position: relative;
          &::before,&::after{
            width: 80px;
            height: 1px;
            background: $color_6;
            content: '';
            position: absolute;
            top: 50%;
          }
          &::before{
            left: -80px;
          }
          &::after{
            right: -80px;
          }
        }
      }
    }
  }
}
