// main: ../../../import.scss
.is-my-account{
  .inner-wrap{
    padding-right: vwpc(150);
    @media #{$tb}{
      padding-right: 5%;
    }
    @media #{$sp}{
      padding: 0 6.5%;
    }
  }
  .woocommerce-error{
    li{
      text-align: center;
    }
  }
  #customer_login{
    @media #{$sp}{
      display: block;
    }
    .u-column1,.u-column2{
      width: calc((100% - 30px) / 2);
      padding: 30px;
      border: 1px solid #E8E8E8;
      background: #fff;
      @include bdrs(6px);
      @media #{$sp}{
        width: 100%;
        padding: 6.5%;
      }
      .status-title{
        @include ftz(15px, 18px, 480px, 1280px, 18px);
        font-weight: 700;
      }
      .form-row{
        margin-bottom: 16px;
        label{
          @include ftz(15px, 15px, 480px, 1280px, 15px);
          font-weight: 700;
          display: block;
          .required{
            color: $color_2;
          }
        }
        input[type=text],input[type=password],input[type=email]{
          width: 100%;
          -webkit-appearance: none;
          @include ftz(13px, 14px, 480px, 1280px, 14px);
          padding: 12px 1.6em;
          border: 1px solid #d8d8d8;
          @include bdrs(4px);
          @media #{$sp}{
            width: 100%;
            padding: 16px 1.2em;
          }
        }
        .woocommerce-form__label-for-checkbox{
          text-align: center;
          line-height: 1;
          margin-bottom: 20px;
          @media #{$sp}{
            margin-bottom: 10px;
          }
        }
        .button{
          width: 100%;
          height: 58px;
          line-height: 58px;
          @media #{$sp}{
            height: 42px;
            line-height: 42px;
          }
        }
      }
      .lost_password{
        text-align: center;
        a{
          text-decoration: underline;
          color: $color_2;
          @include ftz(13px, 13px, 480px, 1280px, 13px);
        }
      }
    }
    .u-column1{
      margin-right: 30px;
      @media #{$sp}{
        margin: 0 auto 20px;
      }
    }
    .u-column2{
      .button{
        margin-top: 15px;
      }
    }
  }
  .lost_reset_password{
    width: 60%;
    padding: 30px;
    border: 1px solid #E8E8E8;
    background: #fff;
    @include bdrs(6px);
    margin: 0 auto;
    @media #{$sp}{
      width: 100%;
      padding: 6.5%;
    }
    p{
      line-height: 1.56;
      margin-bottom: 24px;
    }
    .form-row{
      margin-bottom: 0;
      label{
        @include ftz(15px, 15px, 480px, 1280px, 15px);
        font-weight: 700;
        display: block;
      }
      input[type=text]{
        width: 100%;
        -webkit-appearance: none;
        @include ftz(13px, 14px, 480px, 1280px, 14px);
        padding: 12px 1.6em;
        border: 1px solid #d8d8d8;
        @include bdrs(4px);
        @media #{$sp}{
          width: 100%;
          padding: 16px 1.2em;
        }
      }
      .button{
        width: 100%;
        height: 58px;
        line-height: 58px;
        margin-top: 30px;
        @media #{$sp}{
          height: 42px;
          line-height: 42px;
          margin-top: 20px;
        }
      }
    }
  }
  .woocommerce-MyAccount{
    &-navigation{
      margin-bottom: 0;
      @media #{$sp}{
        padding: 0 0 0 6.5%;
      }
      ul{
        padding-bottom: 15px;
        border-bottom: 1px solid #d8d8d8;
        @media #{$sp}{
          white-space: nowrap;
          overflow: scroll;
          padding-bottom: 10px;
          &::-webkit-scrollbar {
            width: 2px;
            height: 2px;
            @include bdrs(2px);
            background: $color_bg2;
            margin-top: 20px;
            background: none;
          }
          &::-webkit-scrollbar-thumb {
            background: rgba($color_3,.05);
          }
          &::-webkit-scrollbar-thumb:hover {
            background: $color_bg1;
          }
        }
        li{
          margin-right: 30px;
          @include opacity(.4);
          @include transition(.5s);
          @media #{$tb}{
            margin-right: 20px;
          }
          @media #{$sp}{
            margin-right: 1.2em;
          }
          a{
            font-weight: 700;
            color: $color_3;
            @include ftz(14px, 15px, 480px, 1280px, 15px);
          }
          &:hover{
            @include opacity(1);
            a{
              color: $color_2;
            }
          }
        }
        .is-active{
          @include opacity(1);
          a{
            color: $color_2;
          }
        }
      }
    }
    &-content{
      margin-top: 30px;
      @media #{$sp}{
        margin-top: 20px;
      }
      p{
        mark{
          font-style: normal;
          @include ftz(15px, 15px, 480px, 1280px, 15px);
        }
      }
      &-my-account{
        p{
          a{
            text-decoration: underline;
            color: $color_2;
          }
        }
      }
      &-orders{
        margin-top: 0;
        &_inner{
          @media #{$sp}{
            white-space: nowrap;
            overflow: scroll;
            padding-bottom: 10px;
            &::-webkit-scrollbar {
              width: 2px;
              height: 2px;
              @include bdrs(2px);
              background: $color_bg2;
              margin-top: 20px;
              background: none;
            }
            &::-webkit-scrollbar-thumb {
              background: rgba($color_3,.05);
            }
            &::-webkit-scrollbar-thumb:hover {
              background: $color_bg1;
            }
          }
        }
        .woocommerce-orders-table{
          .button{
            width: auto;
            height: auto;
            line-height: 1.6;
            background: none;
            color: $color_2;
            text-decoration: underline;
            &::after{
              content: none;
            }
          }
        }
        .woocommerce-Message--info{
          margin-top: 30px;
          @media #{$sp}{
            margin-top: 20px;
          }
          .button{
            height: 76px;
            line-height: 76px;
            color: #fff;
            text-decoration: none;
            margin-top: 20px;
            @media #{$sp}{
              height: 62px;
              line-height: 62px;
            }
          }
        }
      }
      .woocommerce{
        &-order{
          margin-top: 30px;
          @media #{$sp}{
            display: block;
          }
          &-details{
            width: 60%;
            @media #{$sp}{
              width: 100%;
            }
            h2{
              margin-bottom: 28px;
              @include ftz(20px, 22px, 480px, 1280px, 22px);
              font-weight: 700;
              @media #{$sp}{
                margin-bottom: 14px;
              }
            }
            .woocommerce-table{
              tr{
                th,td{
                  text-align: left;
                  line-height: 1.4;
                  .shipped_via,.includes_tax{
                    @include ftz(11px, 11px, 480px, 1280px, 11px);
                  }
                  .shipped_via{
                    @media #{$sp}{
                      display: block;
                      line-height: 1.2;
                    }
                  }
                  .amount{
                    line-height: 1;
                  }
                  .includes_tax{
                    line-height: 1;
                    @media #{$sp}{
                      display: block;
                      margin-top: -6px;
                    }
                    .amount,.woocommerce-Price-currencySymbol{
                      @include ftz(11px, 11px, 480px, 1280px, 11px);
                    }
                    .amount{
                      display: inline-block;
                      line-height: 1;
                    }
                  }
                }
              }
              thead{
                tr{
                  th{
                    padding-top: 0;
                  }
                }
              }
              tfoot{
                tr{
                  th{
                    text-align: right;
                    padding: 10px 1em 0 0;
                  }
                  th,td{
                    padding-top: 10px;
                    padding-bottom: 0;
                  }
                }
              }
              &__product{
                &-name{
                  width: 70%;
                  padding-left: 0;
                }
                &-total{
                  width: 30%;
                }
              }
            }
          }
        }
        &-customer-details{
          width: 35%;
          padding: 40px;
          border: 1px solid #E8E8E8;
          background: #fff;
          @include bdrs(6px);
          @media #{$sp}{
            width: 100%;
            padding: 8%;
            margin-top: 30px;
          }
          .woocommerce-column{
            &--1{
              margin-bottom: 20px;
            }
            &__title{
              @include ftz(15px, 18px, 480px, 1280px, 18px);
              font-weight: 700;
            }
            address{
              @include ftz(15px, 15px, 480px, 1280px, 15px);
              font-style: normal;
              line-height: 1.56;
            }
          }
        }
      }
      &-payment-methods{
        .woocommerce-Message{
          margin-top: 30px;
          @include ftz(15px, 15px, 480px, 1280px, 15px);
          text-align: left;
        }
      }
      &-downloads{
        .nofile{
          margin-bottom: 20px;
        }
        .button{
          color: #fff;
          text-decoration: none;
          line-height: 76px;
          @media #{$sp}{
            line-height: 62px;
          }
        }
      }
      &-edit-address{
        .woocommerce-Addresses{
          margin-top: 20px;
          @include flex;
          @media #{$sp}{
            display: block;
          }
          .woocommerce-Address{
            width: calc((100% - 30px) / 2);
            padding: 30px;
            border: 1px solid #E8E8E8;
            background: #fff;
            @include bdrs(6px);
            @media #{$sp}{
              width: 100%;
              padding: 6.5%;
            }
            &.col-1{
              margin: 0 30px 0 0;
              @media #{$sp}{
                margin: 0 auto 20px;
              }
            }
            &-title{
              @include flex;
              @include flex-stretch;
              margin-bottom: 12px;
              @media #{$sp}{
                margin-bottom: 6px;
              }
              h3{
                @include ftz(15px, 18px, 480px, 1280px, 18px);
                font-weight: 700;
              }
              .edit{
                @include ftz(11px, 11px, 480px, 1280px, 11px);
                display: block;
                padding: 4px 10px;
                @include bdrs(15px);
                background: $color_bg1;
              }
            }
            address{
              font-style: normal;
              line-height: 1.56;
            }
          }
          .col-1{
            margin-bottom: 20px;
          }
        }
      }
      &-edit-account,&-billing,&-shipping{
        .woocommerce-form-row,.form-row{
          float: none !important;
          font-size: 0;
          margin-bottom: 20px;
          label{
            width: 20%;
            display: inline-block;
            @media #{$sp}{
              width: 100%;
              display: block;
            }
            .required,abbr{
              color: $color_2;
              padding-left: 0;
              border-bottom: 0;
            }
          }
          input{
            width: 80%;
            -webkit-appearance: none;
            @include ftz(13px, 14px, 480px, 1280px, 14px);
            padding: 12px 1.6em;
            border: 1px solid #d8d8d8;
            @include bdrs(4px);
            @media #{$sp}{
              width: 100%;
              padding: 16px 1.2em;
            }
          }
          .woocommerce-input-wrapper{
            width: 80%;
            display: inline-block;
            @media #{$sp}{
              width: 100%;
            }
            input{
              width: 100%;
            }
            .selection{
              .select2-selection{
                height: 42px;
                margin: 0;
                border: 1px solid #d8d8d8;
                &__rendered{
                  line-height: 42px;
                  padding-left: 1.6em;
                }
                &__arrow{
                  height: 42px;
                }
              }
              // border: 1px solid #d8d8d8;
            }
          }
          span{
            em{
              padding-left: 20%;
              @include ftz(11px, 11px, 480px, 1280px, 11px);
              font-style: normal;
              color: #aaa;
              display: block;
              @media #{$sp}{
                padding-left: 0;
                margin-top: 4px;
                line-height: 1.3;
              }
            }
          }
        }
        #shipping_address_1_field{
          @media #{$sp}{
            margin-bottom: 10px;
          }
        }
        #billing_address_2_field,#shipping_address_2_field{
          padding-left: 20%;
          @media #{$sp}{
            padding: 0;
          }
          .woocommerce-input-wrapper{
            width: 100%;
          }
        }
        .password-change{
          margin: 40px auto;
          padding-top: 40px;
          border-top: 1px solid #d8d8d8;
          @media #{$sp}{
            margin: 30px auto 10px;
            padding-top: 30px;
          }
          legend{
            font-weight: 700;
            margin-bottom: 18px;
            @media #{$sp}{
              margin-bottom: 4px;
            }
          }
        }
        .password_current{
          font-size: 0;
          .password-input{
            width: 80%;
            padding-left: 0;
            display: inline-block;
            @media #{$sp}{
              width: 100%;
              display: block;
            }
            input{
              width: 100%;
            }
          }
          // label{
          //   @include ftz(11px, 11px, 480px, 1280px, 11px);
          //   color: #aaa;
          // }
        }
      }
    }
  }
  .button{
    width: 380px;
    height: 76px;
    line-height: 76px;
    display: block;
    background: $color;
    color: #fff;
    @include ff-en-1;
    @include bdrs(38px);
    @include ftz(15px, 15px, 480px, 1280px, 15px);
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    border: 0;
    @media #{$sp}{
      width: 100%;
      height: 62px;
      line-height: 62px;
    }
    &::after{
      content: "\f105";
      @include ftz(15px, 15px, 480px, 1280px, 15px);
      position: absolute;
      top: 50%;
      right: 30px;
      color: #fff;
      @include translate;
      font-weight: 600;
      font-family: 'Font Awesome 5 Free';
      font-style: normal;
      @media #{$sp}{
        right: 20px;
      }
    }
    &:hover{
      cursor: pointer;
    }
  }
}
