// main: ../../../import.scss
.is-product{
  // ----------------------
  // ARCHIVES
  // ----------------------
  .article{
    &-product{
      &_lists{
        &__item.clm_item{
          &:hover{
            @include opacity(1)
          }
          .thumb{
            position: relative;
            img{
              @include bdrs(22px);
            }
          }
          .txt{
            position: relative;
            margin: 18px 0 0;
            @media #{$tbvertical}{
              margin-top: 8px;
            }
            @media #{$sp}{
              margin-top: 8px;
            }
            .title{
              @include ftz(15px, 18px, 480px, 1280px, 18px);
              font-weight: 700;
              line-height: 1.333;
              margin-bottom: 6px;
              @media #{$tbvertical}{
                @include ftz11;
                margin-bottom: 0;
              }
              @media #{$sp}{
                margin-bottom: 1px;
              }
            }
            .products_info{
              font-size: 0;
              &_brand{
                @include ftz(11px, 13px, 480px, 1280px, 13px);
                display: block;
              }
              &_price{
                @include ftz(13px, 15px, 480px, 1280px, 15px);
                text-align: center;
                @include ff-en-2;
                letter-spacing: 0;
                small{
                  font-style: normal;
                  display: inline-block;
                  vertical-align: middle;
                  margin-left: .3em;
                  @include ftz(11px, 11px, 480px, 1280px, 11px);
                }
                &-num{
                  margin-bottom: 16px;
                }
                s{
                  @include ftz(13px, 15px, 480px, 1280px, 15px);
                  letter-spacing: 0;
                }
                b{
                  @include ftz(13px, 15px, 480px, 1280px, 15px);
                  letter-spacing: 0;
                }
                &-sale{
                  color: $color_1;
                }
                &-soldout{
                  letter-spacing: 0;
                  color: $color_2;
                  @include ftz(13px, 15px, 480px, 1280px, 15px);
                }
              }
            }
            .cart{
              @include flex;
              margin-top: auto;
              .button{
                cursor: pointer;
                border: 0;
                display: block;
                background: $color;
                border: 0;
                padding: 20px;
                text-align: center;
                @include ff-en-1;
                color:#fff;
                width: 100%;
                margin-left: 20px;
                &:hover{
                  @include opacity(.7);
                  @include transition(.7s);
                }
              }
              .quantity{
                input{
                  height: 56px;
                  width: 80px;
                  text-align: center;
                  padding-left: 1rem;
                  display: block;
                  background-color: #fff;
                  border: 1px solid #D9D9D9;
                  -webkit-appearance: none;
                }
              }
            }
          }
        }
      }
    }
  }
  &_single{
    &-thumb{
      &.inner-wrap{
        overflow: hidden;
        margin-bottom: vwpc(80);
        @media #{$sp}{
          margin-bottom: vwsp(40);
          padding-bottom: 0;
        }
      }
      .swiper-slide{
        img{
          width: 100%;
          @include bdrs(22px);
          @media #{$sp}{
            @include bdrs(12px);
          }
        }
      }
    }
    &-content{
      @media #{$sp}{
        display: block;
      }
      &.inner-wrap{
        margin-bottom: vwpc(120);
      }
      &-primary{
        width: 65%;
        @media #{$tb}{
          width: 60%;
        }
        @media #{$sp}{
          width: 100%;
          margin-top: 40px;
        }
        .content{
          h2{
            @include ftz(22px, 26px, 480px, 1280px, 26px);
            font-weight: 700;
            line-height: 1.538;
            margin-bottom: 32px;
            @media #{$sp}{
              margin-bottom: 18px;
              line-height: 1.45;
            }
          }
          h3{
            margin: 50px 0 30px;
            @include ftz(20px, 22px, 480px, 1280px, 22px);
            line-height: 1.545;
            font-weight: 700;
            padding-left: 18px;
            position: relative;
            @media #{$sp}{
              margin: 40px 0 18px;
            }
            &::before{
              width: 8px;
              height: 8px;
              content: '';
              @include bdrs(50% 0 50% 50%);
              position: absolute;
              top: calc(50% - 4px);
              left: 0;
              background: $color_2;
            }
          }
          p{
            @include ftz(15px, 15px, 480px, 1280px, 15px);
            line-height: 2.4;
            @media #{$sp}{
              line-height: 1.75;
            }
          }
          img{
            @include bdrs(22px);
            margin-bottom: 30px;
            @media #{$sp}{
              margin-bottom: 24px;
            }
          }
        }
        .short_description{
          margin-bottom: 30px;
          h1,h2,h3,h4,h5,h6{
            @include ftz(15px, 15px, 480px, 1280px, 15px);
          }
          h3{
            margin: 18px 0 12px;
            padding-bottom: 12px;
            border-bottom: 1px solid #ddd;
          }
          p,strong,em,i,span{
            @include ftz(15px, 15px, 480px, 1280px, 15px);
          }
          ul{
            margin-top: 12px;
            padding-left: 2em;
            li{
              @include ftz(15px, 15px, 480px, 1280px, 15px);
              list-style: disc;
            }
          }
        }
        .table_col{
          .price{
            th,td{
              padding: 1.6em 0;
            }
            th{
              @include ff-jp;
              @include ftz(18px, 20px, 480px, 1280px, 20px);
            }
            td{
              text-align: right;
              .price-soldout{
                color: $color_2;
                @include ftz(18px, 20px, 480px, 1280px, 20px);
              }
            }
            .products_info_price,span{
              @include ff-en-2;
              @include ftz(22px, 28px, 480px, 1280px, 28px);
              margin-bottom: 8px;
              small{
                @include ff-en-2;
                @include ftz(11px, 11px, 480px, 1280px, 11px);
                display: inline-block;
                vertical-align: middle;
                margin-left: 6px;
              }
              s{
                color: $color;
                font-weight: 800;
                @include ff-en-2;
                letter-spacing: 0;
                @include ftz(20px, 22px, 480px, 1280px, 22px);
              }
              &-sale{
                color: $color_1;
              }
              b{
                @include ff-en-2;
                letter-spacing: 0;
                @include ftz(22px, 28px, 480px, 1280px, 28px);
              }
            }
          }
        }
        .is-single_producer{
          margin-top: 60px;
          @media #{$tbside}{
            margin-top: 30px;
          }
          @media #{$sp}{
            margin-top: 40px;
          }
        }
      }
      &-secondary{
        width: calc(100% - 65% - 60px);
        background: $color_bg2;
        padding: 40px;
        @include bdrs(22px);
        position: sticky;
        top: 30px;
        @media #{$tb}{
          width: calc(100% - 60% - 30px);
          padding: 3%;
          top: 10%;
        }
        @media #{$sp}{
          width: 100%;
          position: relative;
          top: auto;
          margin-top: 30px;
          padding: 6.5%;
        }
        .area{
          @include ftz(13px, 13px, 480px, 1280px, 13px);
          margin-bottom: 2px;
        }
        h2.ttl-post{
          @include ftz(20px, 20px, 480px, 1280px, 20px);
          margin-bottom: 4px;
        }
        .creator{
          @include ftz(13px, 13px, 480px, 1280px, 13px);
          font-weight: 700;
          a{
            @include ftz(13px, 13px, 480px, 1280px, 13px);
            font-weight: 700;
            color: $color_2;
            text-decoration: underline;
          }
        }
        .price{
          margin-top: 14px;
          @media #{$sp}{
            margin-top: 6px;
          }
          &_amount{
            @include ftz(22px, 20px, 480px, 1280px, 20px);
            font-weight: 700;
            letter-spacing: 0;
            .intax{
              @include ftz(11px, 11px, 480px, 1280px, 11px);
            }
          }
        }
        .variations{
          width: 100%;
          margin-top: 7px;
          td{
            display: block;
          }
          .label{
            label{
              @include ftz(15px, 15px, 480px, 1280px, 15px);
              font-weight: 700;
            }
          }
          .value{
            font-size: 0;
            select,a{
              display: inline-block !important;
              vertical-align: middle;
              visibility: visible !important;
            }
            select{
              width: calc(100% - 62px);
              padding: 8px 10px;
              border: 1px solid #D8D8D8;
              @include bdrs(6px);
              @include ftz(13px, 14px, 480px, 1280px, 14px);
              background: #fff;
            }
            .reset_variations{
              width: 52px;
              display: none;
              margin: 0 0 0 auto;
              padding: 7px 8px;
              @include ftz(11px, 11px, 480px, 1280px, 11px);
              border: 0;
              margin-left: 10px;
              text-align: center;
              @include bdrs(6px);
              color: $color;
              background: #eee;
            }
          }
        }
        .cart-btn{
          .product{
            .onsale{
              display: none;
            }
            .summary{
              width: 100%;
              float: none;
              // padding: 18px 0;
              // @media #{$sp}{
              //   padding: 12px 0;
              // }
              .price{
                display: none;
                @include ftz(15px, 15px, 480px, 1280px, 15px);
                font-weight: 700;
                line-height: 1;
                margin: 8px 0 30px;
                text-align: left !important;
                span{
                  @include ftz(15px, 18px, 480px, 1280px, 18px);
                  font-weight: 700;
                  line-height: 1;
                }
                .amount{
                  letter-spacing: 0;
                  @include ftz(18px, 20px, 480px, 1280px, 20px);
                  font-weight: 700;
                  span{
                    @include ftz(18px, 20px, 480px, 1280px, 20px);
                    font-weight: 700;
                  }
                }
                .woocommerce-price-suffix{
                  @include ftz(11px, 11px, 480px, 1280px, 11px);
                }
              }
              .stock{
                display: none;
              }
              .out-of-stock{
                text-align: center;
                @include ftz(15px, 15px, 480px, 1280px, 15px);
                color: $color;
                padding: 12px 0;
                background: #eee;
                @include bdrs(6px);
              }
              .single_variation_wrap{
                .woocommerce-variation{
                  .woocommerce-variation-price{
                    @media #{$sp}{
                      margin-bottom: 8px;
                    }
                    .price{
                      display: block;
                      text-align: center;
                    }
                  }
                  .stock{
                    display: none;
                  }
                }
              }
              .woocommerce-variation-add-to-cart,.cart{
                font-size: 0;
                .quantity,.single_add_to_cart_button{
                  display: inline-block;
                  vertical-align: middle;
                }
                .quantity{
                  width: 80%;
                  .screen-reader-text{
                    display: none;
                  }
                  input{
                    width: 100%;
                    height: 36px;
                    margin: 0 auto;
                    text-align: center;
                    -webkit-appearance: none;
                    border: 1px solid #D8D8D8;
                    @include bdrs(6px);
                    @include ftz(13px, 14px, 480px, 1280px, 14px);
                    padding: 4px 18px;
                    @media #{$sp}{
                      display: inline-block;
                    }
                  }
                }
                .single_add_to_cart_button{
                  width: 100%;
                  padding: 16px 0;
                  border: 0;
                  text-align: center;
                  margin: 20px auto 0;
                  @include bdrs(34px);
                  position: relative;
                  -webkit-appearance: none;
                  @include ftz(15px, 18px, 480px, 1280px, 18px);
                  font-weight: 700;
                  @include transition(.7s);
                  background: url('/images/common/bg-btn.png') center / cover no-repeat;
                  @include shadow;
                  @include ff-jp;
                  @media #{$tbvertical}{
                    @include ftz10;
                  }
                  &:hover{
                    cursor: pointer;
                    @include shadow_on;
                    @include opacity(1);
                  }
                  &::before{
                    width: 14px;
                    height: 7px;
                    position: absolute;
                    top: calc(50% - 3px);
                    right: 30px;
                    content: '';
                    background: url('/images/common/arrow-clr.svg') center / cover no-repeat;
                    @media #{$tbvertical}{
                      right: 20px;
                    }
                  }
                }
              }
              .woocommerce-variation-add-to-cart.variations_button,.cart-simple{
                .amount_txt{
                  width: 20%;
                  display: inline-block;
                  vertical-align: middle;
                  @include ftz(15px, 15px, 480px, 1280px, 15px);
                  font-weight: 700;
                }
              }
              .variations_button{
                margin-top: 20px;
                @media #{$sp}{
                  margin-top: 10px;
                }
              }
              // .cart{
              //   @include flex
              //   @include flex-stretch
              // }
            }
          }
          .woocommerce-message{
            margin-bottom: 20px;
            @include ftz(13px, 13px, 480px, 1280px, 13px);
            text-align: left;
            line-height: 1.56;
            a{
              display: block;
              @include ftz(15px, 15px, 480px, 1280px, 15px);
              text-align: center;
              background: $color_4;
              @include bdrs(20px);
              padding: 5px 0;
              color: #fff;
              margin-bottom: 6px;
              position: relative;
              &::before{
                width: 14px;
                height: 7px;
                position: absolute;
                top: calc(50% - 3px);
                right: 20px;
                content: '';
                background: url('/images/common/arrow-wh.svg') center / cover no-repeat;
              }
            }
          }
          .sold-individually{
            .summary{
              .woocommerce-variation-add-to-cart,.cart{
                .single_add_to_cart_button{
                  width: 100%;
                }
              }
            }
          }
        }
        .info{
          margin-top: 30px;
          &-txt{
            margin-bottom: 6px;
            dt,dd{
              @include ftz(13px, 13px, 480px, 1280px, 13px);
              line-height: 1.4;
            }
            dt{
              width: 6.48em;
              font-weight: 700;
            }
          }
        }
        .userguide_lists{
          margin-top: 18px;
          padding-top: 14px;
          border-top: 1px solid #DADADB;
          &__item{
            padding-left: 12px;
            position: relative;
            line-height: 1;
            &::before{
              width: 4px;
              height: 4px;
              content: '';
              background: $color_3;
              position: absolute;
              top: calc(50% - 1px);
              left: 0;
              @include bdrs(50%);
            }
            a{
              @include ftz(11px, 11px, 480px, 1280px, 11px);
              color: $color_3;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  &-related{
    .article-product{
      &_lists{
         &__item{
          .thumb{
            margin-bottom: 15px;
            img{
              @include bdrs(22px);
              @media #{$sp}{
                @include bdrs(16px);
              }
            }
          }
          .txt{
            .title{
              @include ftz(15px, 18px, 480px, 1280px, 18px);
              font-weight: 700;
              line-height: 1.333;
              margin-bottom: 6px;
              @media #{$tbvertical}{
                @include ftz11;
                margin-bottom: 0;
              }
              @media #{$sp}{
                margin-bottom: 1px;
              }
            }
          }
        }
      }
    }
  }
}
