// main: ../../../import.scss
// --------------------------------------------------
// BTN
// --------------------------------------------------
.btn-more{
  position: relative;
  text-align: center;
  a{
    width: 100%;
    padding: 6px 20px;
    display: block;
    font-style: normal;
    position: relative;
    color: #fff;
    background: $color_1;
    @include ftz(14px, 15px, 480px, 1280px, 15px);
    text-align: center;
    @include bdrs(44px);
    appearance: none;
    border: none;
    @media #{$sp}{
      padding: 5px 20px;
    }
  }
  .icon-arw{
    &::before{
      width: 16px;
      height: 13px;
      content: '';
      position: absolute;
      @media #{$sp}{
        width: 12px;
        height: 10px;
      }
    }
    &-wh{
      &::before{
        background: url('/images/common/arw-wh.svg') center / cover no-repeat;
      }
    }
    &-green{
      &::before{
        background: url('/images/common/arw-green.svg') center / cover no-repeat;
      }
    }
    &-risk1{
      &::before{
        background: url('/images/common/arw-risk1.svg') center / cover no-repeat;
      }
    }
    &-risk2{
      &::before{
        background: url('/images/common/arw-risk2.svg') center / cover no-repeat;
      }
    }
    &-risk3{
      &::before{
        background: url('/images/common/arw-risk3.svg') center / cover no-repeat;
      }
    }
    &-risk4{
      &::before{
        background: url('/images/common/arw-risk4.svg') center / cover no-repeat;
      }
    }
    &-risk5{
      &::before{
        background: url('/images/common/arw-risk5.svg') center / cover no-repeat;
      }
    }
    &-risk6{
      &::before{
        background: url('/images/common/arw-risk6.svg') center / cover no-repeat;
      }
    }
  }
  &-button{
    position: relative;
    // .icon-arw{
    //   position: absolute;
    //   top: calc(50% - 6px);
    //   right: 41px;
    //   @media #{$sp}{
    //     top: calc(50% - 5px);
    //   }
    // }
  }
  &-next{
    width: 220px;
    margin: 0 auto;
    @media #{$sp}{
      width: 180px;
    }
    #next{
      width: 100%;
      appearance: none;
      background: none;
      border: none;
      padding: 18px 30px 14px;
      @include bdrs(32px);
      text-align: center;
      color: $color_9;
      position: relative;
      border: 2px solid $color_9;
      @include ftz(14px, 18px, 480px, 1280px, 18px);
      cursor: pointer;
      @media #{$sp}{
        padding: 11px 0 8px;
      }
      &:disabled{
        @include opacity(.5);
        cursor: not-allowed;
        & + .icon-arw{
          @include opacity(.5);
        }
      }
    }
    .icon-arw{
      position: absolute;
      top: calc(50% - 6px);
      right: 40px;
      @media #{$tb}{
        right: 30px;
      }
    }
  }
  &-back{
    width: 140px;
    margin: 24px auto 0;
    #back{
      width: 100%;
      margin: 0 auto;
      appearance: none;
      background: none;
      border: none;
      position: relative;
      padding: 13px 10px 11px 35px;
      text-align: center;
      color: $color_9;
      border: 2px solid $color_9;
      @include bdrs(32px);
      @include ftz(14px, 18px, 480px, 1280px, 18px);
      display: block;
      @media #{$tb}{
        @include ftz10;
      }
      @media #{$sp}{
        padding: 11px 10px 8px 35px;
      }
      &:hover{
        cursor: pointer;
      }
    }
    .icon-arw{
      position: absolute;
      top: 64%;
      left: 38px;
      @include rotate(180deg);
    }
  }
  &-back_top{
    width: 220px;
    margin: 0 auto;
    @media #{$sp}{
      width: 180px;
    }
    a{
      width: 100%;
      color: $color_9;
      border: 2px solid $color_9;
      padding: 12px 0;
      @media #{$sp}{
        padding: 6px 0;
      }
      .icon-arw{
        position: absolute;
        top: calc(50% - 5px);
        right: 38px;
        @media #{$sp}{
          right: 30px;
        }
      }
    }
  }
  &-has{
    &_inline{
      a{
        &::after{
          width: calc(100% - 12px);
          height: calc(100% - 12px);
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          @include translate;
          @include bdrs(44px);
          border: 2px solid #fff;
          z-index: 1;
          @media #{$sp}{
            width: calc(100% - 8px);
            height: calc(100% - 8px);
          }
        }
      }
    }
    &_line{
      &-green{
        a{
          border: 2px solid $color_9;
        }
      }
    }
    &_arw{
      a{
        .icon-arw{
          &::before{
            top: calc(50% - 6px);
            right: 41px;
            @media #{$sp}{
              top: calc(50% - 5px);
            }
          }
        }
      }
    }
    &_button{
      input[type=button]{
        background: none;
        appearance: none;
        border: none;
        margin: 0;
        padding: 0;
      }
    }
    &_bg{
      a{
        color: #fff;
      }
      &-wh{
        a{
          background: #fff;
          color: $color_9;
        }
      }
      &-blue{
        a{
          @include ftz(18px, 30px, 480px, 1280px, 30px);
          background: $color_1;
          @media #{$tb}{
            @include ftz16;
          }
          .c-y{
            @include ftz(18px, 30px, 480px, 1280px, 30px);
            color: #fae963;
            @media #{$tb}{
              @include ftz16;
            }
          }
        }
      }
      &-green{
        a{
          background: $color_9;
          .c-y{
            @include ftz(18px, 30px, 480px, 1280px, 30px);
            color: #fae963;
          }
        }
      }
    }
  }
}
