// main: ../../../import.scss
// --------------------------------------------------
// MOUSE
// --------------------------------------------------
.header_mouse{
  width: 36px;
  height: 56px;
  background: none;
  border: 2px solid #fff;
  @include opacity(.4)
  position: absolute;
  bottom: 50px;
  left: calc(50% - 18px);
  @include bdrs(18px);
  z-index: 10;
  @media #{$sp}{
    width: 30px;
    height: 46px;
    left: calc(50% - 15px);
  }
  span{
    width: 4px;
    height: 8px;
    background: #fff;
    position: absolute;
    top: 45%;
    left: calc(50% - 2px);
    @include bdrs(2px);
    display: block;
    animation: vertical 1s ease-in-out infinite alternate;
  }
  // &::before{
  //   width: 100px;
  //   position: absolute;
  //   bottom: -45px;
  //   left: 50%;
  //   content: 'SCROLL DOWN';
  //   @include ftz11
  //   color: #1a1d35;
  //   @include translate
  // }
}
