// main: ../../../import.scss
// --------------------------------------------------
// STRETCHED LINK
// --------------------------------------------------
.sbs{
  font-size: 0;
  li{
    display: inline-block;
    vertical-align: top;
  }
}
