// main: ../../../import.scss
// --------------------------------------------------
// Wrap LINE
// --------------------------------------------------
.wrap-line{
  background: #fff;
  display: block;
  position: fixed;
  z-index: 100;
  &-top,&-btm{
    width: 100%;
    height: 30px;
    left: 0;
    @media #{$sp_tb}{
      height: 10px;
    }
  }
  &-top{
    top: 0;
  }
  &-btm{
    bottom: 0;
    &::before{
      width: calc(100% - 60px);
      height: 25px;
      background: url('/images/common/shape-wh-2-pc.svg') center / cover no-repeat;
      position: absolute;
      bottom: 30px;
      left: 30px;
      content: '';
      @media #{$tb}{
        height: 45px;
      }
      @media #{$sp_tb}{
        width: calc(100% - 20px);
        bottom: 10px;
        left: 10px;
        background: url('/images/common/shape-wh-2-sp.svg') center / cover no-repeat;
      }
    }
  }
  &-right,&-left{
    width: 30px;
    height: 100%;
    top: 0;
    @media #{$sp_tb}{
      width: 10px;
    }
  }
  &-left{
    left: 0;
  }
  &-right{
    right: 0;
  }
}
